<div>
    <div class="col-md-6 offset-3">
        <h1 class="text-danger text-center">Page not found!</h1>
        <hr class="bg-secondary"/>
        <a class="btn btn-outline-success" asp-controller="Movies" asp-action="Index">Home Page</a>
    </div>
</div>