@using eTickets.Data.ViewModels

@model LoginVM

@{
    ViewData["Title"] = "Login to your account";
}

<link rel="stylesheet" href="~/css/Login.css" />

<div class="container-fluid h-custom">

    @if (TempData["Error"] != null)
    {
        <div class="col-md-12 alert alert-danger">
            <span><b>Sorry!</b> - @TempData["Error"]</span>
        </div>
    }

    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                 class="img-fluid" alt="Sample image">
        </div>

        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
            <form asp-action="Login" method="post">
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>

                <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                    <p class="lead fw-normal mb-0 me-3 DMText">Sign in with</p>
                    <button type="button" class="btn btn-light btn-floating mx-1" style="border-radius: 60%;">
                        <i class="bi bi-facebook"></i>
                    </button>

                    <button type="button" class="btn btn-light btn-floating mx-1" style="border-radius: 60%;">
                        <i class="bi bi-twitter"></i>
                    </button>

                    <button type="button" class="btn btn-light btn-floating mx-1" style="border-radius: 60%;">
                        <i class="bi bi-linkedin"></i>
                    </button>
                </div>

                <div class="divider d-flex align-items-center my-4">
                    <p class="text-center fw-bold mx-3 mb-0 DMText">Or</p>
                </div>

                <!-- Email input -->
                <div class="form-outline mb-4">
                    <label asp-for="EmailAddress" for="form3Example3" class="form-label DMText"></label>
                    <input asp-for="EmailAddress" type="email" id="form3Example3" class="form-control form-control-lg" 
                           placeholder="Enter a valid email address" />
                    <span asp-validation-for="EmailAddress" class="text-danger"></span>
                </div>

                <!-- Password input -->
                <div class="form-outline mb-3">
                    <label asp-for="Password" class="form-label DMText" for="form3Example4">Password</label>
                    <input asp-for="Password" type="password" id="form3Example4" class="form-control form-control-lg" placeholder="Enter password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="d-flex justify-content-between align-items-center">
                    <!-- Checkbox -->
                    <div class="form-check mb-0">
                        <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                        <label class="form-check-label DMText" for="form2Example3">
                            Remember me
                        </label>
                    </div>
                    <a href="#!" class="text-body DMText">Forgot password?</a>
                </div>

                <div class="text-center text-lg-start mt-4 pt-2">
                    <input type="submit" value="Log in" class="btn btn-primary btn-lg DarkMode" style="padding-left: 2.5rem; padding-right: 2.5rem;" />

                    <p class="small fw-bold mt-2 pt-1 mb-0 DMText">
                        Don't have an account? <a href="#!" class="link-danger">Register</a>
                    </p>
                </div>

            </form>
        </div>
    </div>
</div>

